<% description @home_page.promotional_message %>

<% if policy(@home_page).edit? %>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <%= link_to 'Edit Home Page', edit_home_page_path(@home_page),
        class: "btn btn-default",
        role: "button"
      %>
    </div>
  </div>
<% end %>

<div class="row middle-section">
  <div class="col-xs-6">
    <iframe src="https://secure2.rentalcarmanager.com/ssl/NzBuzzyRentalCars243/webStep1.asp" width="440" height="356"></iframe>
    <div class="row">
      <% if @home_page.promoted_page && @home_page.promoted_page.published %>
        <%= link_to(@home_page.promoted_page.name, page_path(@home_page.promoted_page), class: "promoted_page") %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <% if @home_page.promotional_message.present? %>
        <div class="promotional_message"><%= raw markdown_to_html @home_page.promotional_message %></div>
      <% end %>
    </div>
  </div>
</div>
