<% title "Our Vehicles" %>

<% if @price_categories.present? %>  
  <% @price_categories.each do |price_category| %>
    <% if price_category.vehicle_categories.present? %>
      <h2 class="text-center"><%= price_category.name %></h2>
      <hr />
      <% price_category.vehicle_categories.where(published: true).order(:display_order).each do |vehicle_category| %>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag vehicle_category.photo.url(:thumbnail) %>
          </div>
          <div class="col-sm-8">
            <h3><%= vehicle_category.name %></h3>
          </div>
        </div>
        <hr />
      <% end %>      
    <% end %>
  <% end %>
<% end %>
