<hr />
<p class="text-center">
  <%= image_tag "100-percent-new-zealand-owned-and-operated.png", alt: "100% New Zealand Owned & Operated", width: 100, height: 100 %>
  <%= image_tag "rental-vehicle-association.png", alt: "Rental Vehicle Association", width: 150, height: 100 %>
</p>  
<p class="text-center">Copyright &copy; Buzzy Rental Cars, <%= Time.now.year %>.</p>
<hr />
